CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

cmake-build-debug/

TilesonConfig\.h

\.vs/tileson/v16/ipch/AutoPCH/346938174d178ac2/

\.vs/

out/build/x64-Debug/

CMakeSettings\.json

out/build/x86-Debug/

out/build/x86-Release/

.idea/

\.DS_Store

cmake-build-release/

build/

cmake-build-minsizerel/

*.tiled-session

cmake-build-debug-x64/

.vscode/

cmake-build-relwithdebinfo/

.idea_old/

cmake-build-debug---clang/
